<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
    http://www.springframework.org/schema/aop   
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

	<bean id="circle" class="com.aop.model.Circle">
		<property name="name" value="Its a circle" />
	</bean>

	<bean id="triangle" class="com.aop.model.Triangle">
		<property name="name" value="Its a triangle" />
	</bean>

	<bean id="shapeService" class="com.aop.service.ShapeService" autowire="byName" />

</beans>    